@import '../basic/theme';

.mr-btn {
  @include vp-flexbox();
  @include vp-align-items(center);
  @include vp-justify-content(center);
  width: 100%;
  height: 3.3rem;
  padding: 0 1rem;
  border-radius: 4 * $border_radius;
  text-decoration: none;
  border: 0;
  outline: none;
  font-size: 1.1rem;
  font-weight: 500;
  position: relative;

  &-tooltip {
    display: none;
    padding: .5rem .8rem;
    border-radius: 8px;
    background: transparentize(#171521, .2);
    color: $white;
    text-align: center;
    font-size: .8rem;
    font-weight: 400;
    position: absolute;
    bottom: calc(100% + 8px);

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 8px solid transparentize(#171521, .2);
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      position: absolute;
      bottom: -8px;
      left: calc(50% - 10px);
    }
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &.-purple {
    &:not(:disabled) {
      @extend .color-white;
      background: $purple;
      box-shadow: 0 5px 15px 1px transparentize($violet_dark, .85);
      &:hover {
        background: $ultramarine;
        box-shadow: 0 -5px -15px 1px transparentize($violet_dark, .85);
      }
    }
  }

  &.-green {
    &:not(:disabled) {
      @extend .color-white;
      background: linear-gradient(to left, #33c86d, #00a283 100%);
      &:hover {
        background: $green;
      }
    }

    &-outline {
      &:not(:disabled) {
        border: 1px solid $green_dark;
        color: $green_dark;
        background: transparent;

        &:hover {
          color: $white;
          background: $green_dark;
        }
      }
    }
  }

  &:disabled {
    background: $greyish;
    color: $white;
    cursor: default;

    &:hover {
      .mr-btn-tooltip {
        display: block;
      }
    }

  }

  &.-lg {
    height: 3.8rem;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: .4px;
  }

  &.-sm {
    height: 2.4rem;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .05em;
    border-radius: 22px;
  }
}
