@import '../basic/theme';

.mr-card {
  display: block;
  padding-right: $pd;
  padding-left: $pd;
  text-decoration: none;

  + .mr-card {
        margin-top: 2 * $pd;
  }

  &-inner {
    width: 100%;
    padding: 2 * $pd;
    @extend .bg-white;
    border-radius: $border_radius;
  }

  &-header {
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 1.15rem;
    font-weight: 700;
    letter-spacing: .03em;
  }

  &-title {
    @extend .color-grey_dark;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    font-weight: 700;
  }

  &-footer {
    padding-top: 1.7rem;
    font-size: .9rem;
  }

  &-image {
    display: block;
    width: 100%;
    &-inner {
      overflow: hidden;
      img {
        display: block;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
      }
    }

    &.-cut {
      display: block;
      width: 100%;
      height: 0;
      position: relative;
      padding-top: 100%;
      .mr-card-image-inner  {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      @media all and (max-width: $md - 1px) {
        padding-top: 50%;
      }
    }
  }

  &-content {
    font-size: .9rem;

    > .row {
      + .row {
        padding-top: 3 * $pd;
      }

      @media all and (max-width: $md - 1px) {
        padding-top: 2 * $pd;
      }
    }
  }

  &-address {
    @extend .color-grey_dark;
    letter-spacing: .01em;
    .mr-icon {
      display: inline-block;
      margin-right: $pd;
      vertical-align: baseline;
    }
    a {
      @extend .color-purple;
      padding-left: $pd;
      white-space: nowrap;
      &:hover {
        @extend .color-grey_dark;
      }
    }
    > .col {
      @include vp-flexbox;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &-category {
    @extend .color-grey_dark;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    margin-top: $pd;
    padding: {
      top: $pd / 2;
      right: 2 * $pd;
      bottom: $pd / 2;
      left: 2 * $pd;
    }
    border-radius: $border_radius_sm;
    font-size: .9rem;
    white-space: nowrap;
    text-decoration: none;
    &:not(:last-child) {
      margin-right: $pd;
    }

    &.-category {
      @extend .bg-purple_pale;
    }

    &.-subcategory {
      @extend .bg-green_pale;
    }
  }

  &-date {
    @extend .color-greyish_darker;
    font-size: .9rem;
  }

  &-comments {
    padding-right: $pd;
    padding-left: $pd;
    &-inner {
      padding: 2 * $pd;
      border: 2px solid $grey;
    }
    &-header {
      @extend .color-greyish_darker;
      padding-bottom: 2 * $pd;
      text-transform: uppercase;
      font-size: .9rem;
    }
  }

  &-comment {
    &-info {
      align-items: center;
      flex-wrap: nowrap;
    }
    &-image {
      flex-shrink: 0;
      &-inner {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        overflow: hidden;
        img {
          display: block;
          min-width: 100%;
          max-width: 100%;
          min-height: 100%;
          max-height: 100%;
        }
      }
    }
    &-author {
      padding-left: 0;
      font-size: .9rem;
    }
    &-text {
      padding-top: 2 * $pd;
      font-size: .9rem;
      line-height: 1.5;
    }
  }

  &-map {
    width: 100%;
    padding-top: 33%;
    position: relative;
    &-inner {
      overflow: hidden;
      position: absolute;
      top: 0;
      right: $pd;
      bottom: 0;
      left: $pd;
    }

    @media (max-width: 767px) {
      padding-top: 50%;
    }
  }

}

a.mr-card {
  .mr-card-inner {
    box-shadow: $box-shadow;
    &:hover {
      box-shadow: $box_shadow_hover;
    }
  }
}

.mr-cards {
  padding-top: 5rem;
  @media all and (max-width: $lg - 1px) {
    padding-top: 3rem;
  }
  @media all and (max-width: $md - 1px) {
    padding-top: 1.5rem;
  }

  &-link {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .01em;
  }
}
