.mr-footer {
  @include vp-justify-content(space-between);
  padding-top: 4 * $pd;
  padding-bottom: 4 * $pd;

  &-row {
    + .mr-footer-row {
      padding-top: $pd;
    }
  }

  &-col {
    + .mr-footer-col {
      @media (max-width: 767px) {
        padding-top: 3 * $pd;
      }
    }
  }

  &-header {
    padding-bottom: 2 * $pd;
    font-size: .9rem;
    letter-spacing: .01em;
    color: $grey_cool;
    text-transform: uppercase;
  }

  &-contacts {
    font-size: .9rem;
    line-height: 2;
    color: $grey_dark;
  }

  &-social {
    &-link {
      @include vp-flexbox();
      @include vp-align-items(center);
      @include vp-justify-content(center);
      @include vp-linear-gradient(to bottom, $purple, $purple_bright);
      width: 42px;
      height: 42px;
      cursor: pointer;
      border-radius: $border-radius / 2;
      font-size: 1.2rem;
      text-decoration: none;
      border: 0;
      outline: none;
      color: $white;
      &:hover {
        @include vp-linear-gradient(to top, $ultramarine, $blue);
        box-shadow: 0 -5px -15px 1px transparentize($violet_dark, .85);
        color: $white;
      }
    }
  }

  &-logo {
    img {
      width: 110px;
    }
  }
}
