.mr-headline {
  padding-top: 1rem;
  justify-content: space-between;

  &-link {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .9rem;
    color: $greyish;
    position: relative;

    &:before,
    &:after {
      font-size: 1rem;
    }

    &:hover {
      color: $purple;
    }
  }

  &-item {

    &:first-child {
      .mr-headline-link {
        padding-left: 1rem;

        &:before {
          content: '<';
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    &:last-child {
      .mr-headline-link {
        padding-right: 1rem;

        &::after {
          content: '>';
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }
}
