@import '../basic/theme';

.mr-header {
  height: 95px;

  &-inner {
    height: 100%;
    align-items: center;
  }

  &-logo {
    @include vp-flexbox;
  }

  @media all and (max-width: $md - 1px) {
    height: 110px;
  }

  @media all and (max-width: 440px) {
   height: 150px;
  }
}
