.mr-link {

  &-accent {
    @extend .color-grey_dark;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .01em;
    text-transform: uppercase;
    position: relative;
    top: 10px;
    &:hover {
      @extend .color-purple;
    }
  }

}