@import '../basic/theme';

.mr-logo {
  @extend .color-grey_dark;
  @include vp-flexbox;
  height: 100%;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
  background: url('/static/images/logo.svg') no-repeat 0 center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  &:hover {
    @extend .color-purple;
  }
}
