@import '../basic/theme';

.mr-nav {
  height: 100%;
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: .1em;

  &-list {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    list-style: none;

    @media all and (max-width: 440px) {
      flex-wrap: wrap;
    }
  }

  &-item {
    @include vp-flexbox;
    padding: $pd;
    white-space: nowrap;
    position: relative;

    .mr-nav {
      &-text {
        display: flex;
        align-items: center;
        background: none;
        border: 0;
        font-size: inherit;
        font-weight: inherit;

        .icon-Select {
          padding-left: $pd / 3;
          font-size: .35rem;
        }

        @media all and (max-width: 440px) {
          display: block;
          width: 100%;
          text-align: center;
        }
      }

      &-link {
        @extend .color-grey_dark;
        cursor: pointer;

        &:hover {
          @extend .color-purple;
        }
      }

      &-btn {
        font-size: inherit;

        @media all and (max-width: $lg - 1px) {
          height: 1.8rem;
        }
      }
    }

    &:not(:first-child) {
      padding-left: 1.3rem;
      @media all and (max-width: $lg - 1px) {
        padding-left: .7rem;
      }

      @media all and (max-width: $md - 1px) {
        padding-left: $pd;
      }

      @media all and (min-width: 768px) and (max-width: 850px) {
        padding-left: .5rem;
      }
    }

    &.-active {
      .mr-nav-text {
        padding-bottom: 4px;
        border-bottom: 2px solid $purple;
      }
    }

    &.-dropdown {
      .mr-nav-text {
        text-transform: uppercase;
      }

      &:hover {
        .mr-nav-dropdown {
          display: block;
        }
      }
    }

    @media all and (max-width: 440px) {
      width: 50%;
    }

  }

  &-dropdown {
    display: none;
    padding: $pd;
    @extend .bg-white;
    border: 2px solid $purple {
      radius: $border_radius;
    }
    box-shadow: $box_shadow;
    position: absolute;
    top: 100%;
    right: -$pd;
    left: calc(3rem - #{$pd});
    &:before {
      display: block;
      width: 0;
      height: 0;
      content: '';
      border: {
        width: $pd;
        style: solid;
        color: transparent;
        bottom: {
          color: $purple;
        }
      }
      position: absolute;
      top: -2 * $pd;
      left: calc(50% - #{$pd});
    }

    &-item {
      text-align: left;
      a {
        display: block;
        padding: $pd / 2;
      }
    }
  }

  @media all and (max-width: $lg - 1px) {
    font-size: .7rem;
  }

  @media all and (min-width: 768px) and (max-width: 850px) {
    font-size: .6rem;
  }
}
