// Google autocomplete dropdown styles

.pac {
  &-container {
    border: 1px solid $greyish;
    border-radius: $border_radius_sm;
  }

  &-item {
    font-size: .9rem;

    &-query {
      font-size: .9rem;
    }

  }

}
