@import '../basic/theme';

.mr-pagination {
  padding-top: 6 * $pd;
  padding-bottom: $pd;
  font-size: .9rem;

  &-description {
    height: 27px;
    line-height: 27px;
    color: $greyish;
  }

  &-pages {
    display: flex;
  }

  &-page {
    display: block;
    min-width: 25px;
    height: 27px;
    line-height: 27px;
    margin: 0 10px;
    padding: 0 4px;
    color: $black;
    border-radius: 6px;
    text-align: center;

    &.-active {
      background: $purple_pale;
    }

    &.-disabled {
      color: $greyish;
      cursor: not-allowed;
    }

    &:not(.-disabled) {
      &:hover {
        color: $purple;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-arrow {
    margin: 0 3px;
    padding: 0;
    font-size: .67rem;
  }
}
