@import '../basic/theme';

.mr-slide {
  height: 497px;
  position: relative;

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    min-width: $sm;
    padding: 1rem;
    background: linear-gradient(to right, #8c394d 1%, #7f3b49 13%, rgba(124, 59, 73, 0.85) 26%, rgba(23, 71, 45, 0.9) 77%, #12482c 88%, #054928 100%),
                url('/static/images/RIGA_Main.jpg') no-repeat center 0;
    background-size: auto, auto 100%;
    color: $white;
    text-align: center;
    position: absolute;
    top: 0;
    left: calc(50% - 50vw);

    @media all and (max-width: $sm) {
      left: -$pd;
    }
  }

  &-header {
    padding-top: 90px;
    background: url('/static/images/slide-pic@2x.png') no-repeat center 0 / auto 80px;

    @media all and (max-width: 1200px) {
      padding-top: 0;
      background-image: none;
    }
  }

  &-title {
    padding: .9rem 0 1.3rem;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1px;

    @media all and (max-width: 1200px) {
      font-size: 2.3rem;
    }

    @media all and (max-width: 759px) {
      padding: .5rem 0;
      font-size: 1.6rem;
    }
  }

  &-content {
    padding-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: .5px;

    @media all and (max-width: 1200px) {
      font-size: .8rem;
    }

    @media all and (max-width: 759px) {
      padding-bottom: .5rem;
      line-height: 1.4;
    }
  }

  &-footer {

    .mr-btn {
      padding-right: 3rem;
      padding-left: 3rem;

      @media all and (max-width: 759px) {
        height: 3rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: .9rem;
      }
    }

    .mr-link-accent {
      color: $white;

      &:hover {
        color: $green;
      }

      @media all and (max-width: 1200px) {
        font-size: .9rem;
      }

      @media all and (max-width: 759px) {
        font-size: .8rem;
      }
    }

    &-row {
      margin-top: .7rem;
      margin-bottom: .7rem
    }
  }
}
