@import '../basic/theme';

.mr-status {
  @extend .color-purple;
  font-size: .9rem;
  letter-spacing: .01em;
  &:before {
    @extend .bg-purple;
    display: inline-block;
    width: .5rem;
    height: .5rem;
    margin-right: $pd / 2;
    content: '';
    border-radius: 50%;
    vertical-align: top;
    position: relative;
    top: .3rem;
  }

  &.-review {
    @extend .color-purple;
    &:before {
      @extend .bg-purple;
    }
  }

  &.-progress {
    @extend .color-orange;
    &:before {
      @extend .bg-orange;
    }
  }

  &.-resolved {
    @extend .color-green;
    &:before {
      @extend %icon;
      @extend .color-green;
      @extend .bg-none;
      content: '\e904';
      font-size: .45rem;
    }
  }

  &.-declined {
    @extend .color-greyish;
    &:before {
      @extend %icon;
      @extend .color-greyish;
      @extend .bg-none;
      content: '\e900';
      font-size: .45rem;
    }
  }

  &.-dublicated {
    @extend .color-greyish;
    &:before {
      @extend .bg-greyish;
    }
  }

  &.-map {
    &:before {
      @extend %icon;
      @extend .bg-none;
      width: auto;
      height: auto;
      content: '\e901';
      font-size: 1.2rem;
    }
    &.-review {
      &:before {
        @extend .color-purple;
      }
    }
    &.-resolved {
      &:before {
        @extend .color-green;
      }
    }
    &.-progress {
      &:before {
        @extend .color-orange;
      }
    }
    &.-declined {
      &:before {
        @extend .color-greyish;
      }
    }
  }

}

.mr-issues {
  .mr-status {
    &.-map {
      &:before {
        vertical-align: baseline;
      }
    }
  }
}