@import '../basic/theme';

.mr-steps {
  padding-right: 2 * $pd;
  padding-left: 2 * $pd;
}

.mr-steps {
  width: 100%;
}

.mr-step {
  @include vp-flexbox();
  @include vp-flex-direction($value: column);
  @include vp-justify-content(start);
  @include vp-align-items(center);
  padding: $pd;

  &-image {
    display: block;
    max-width: 100%;
  }

  &-description {
    padding-top: 1.5rem;
    padding-right: 2 * $pd;
    padding-left: 2 * $pd;
    color: $grey_dark;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;

    @media all and (max-width: $md - 1px) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
