.mr-votes {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;

  &-vote {
    background: none;
    border: 0;
    outline: none;
    font-size: .9rem;
    font-weight: 400;

    .mr-icon {
      vertical-align: baseline;
      padding-right: .75 * $pd;
      font-size: 1.1em;

      @media all and (max-width: 759px) {
        font-size: .9rem;
      }
    }

    &:not(:first-child) {
      margin-left: 1rem;

      @media all and (max-width: 759px) {
        margin-left: .3rem;
      }
    }

    @media all and (max-width: 759px) {
      font-size: .7rem;
    }
  }

  button.mr-votes-vote {
    color: $purple;

    &:hover {
      color: $green;
    }

    &:disabled {
      color: $greyish;
      cursor: default;
    }

    &:not(:disabled) {
      cursor: pointer;
    }

    &.elected {
      color: $green;
    }
  }
}
