$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: '/static/fonts/icomoon' !default;

$ico-arrow-first: "\e908";
$ico-arrow-last: "\e909";
$ico-arrow-left: "\e90a";
$ico-arrow-right: "\e90b";
$ico-down-vote: "\e900";
$ico-up-vote: "\e901";
$ico-Close_cancel: "\e902";
$ico-Facebook: "\e903";
$ico-Map: "\e904";
$ico-Search: "\e905";
$ico-Select: "\e906";
$ico-Tick: "\e907";
