@import 'icomoonvariables';
@import 'basic/theme';

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?lp7t76') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?lp7t76') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?lp7t76##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'], [class*=' icon-'], .mr-icon {
  @extend %icon;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-arrow-first {
  &:before {
    content: $ico-arrow-first;
  }
}
.icon-arrow-last {
  &:before {
    content: $ico-arrow-last;
  }
}
.icon-arrow-left {
  &:before {
    content: $ico-arrow-left;
  }
}
.icon-arrow-right {
  &:before {
    content: $ico-arrow-right;
  }
}
.icon-down-vote {
  &:before {
    content: $ico-down-vote;
  }
}
.icon-up-vote {
  &:before {
    content: $ico-up-vote;
  }
}
.icon-Close_cancel {
  &:before {
    content: $ico-Close_cancel;
  }
}
.icon-Facebook {
  &:before {
    content: $ico-Facebook;
  }
}
.icon-Map {
  &:before {
    content: $ico-Map;
  }
}
.icon-Search {
  &:before {
    content: $ico-Search;
  }
}
.icon-Select {
  &:before {
    content: $ico-Select;
  }
}
.icon-Tick {
  &:before {
    content: $ico-Tick;
  }
}
