@import 'theme';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic,cyrillic-ext,latin-ext');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font_family;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: $white;
  color: $grey_dark;
  overflow-x: hidden;
}

#root {
  display: block;
  min-width: $sm;
  max-width: $lg;
  margin: 0 auto;
}

a {
  color: $purple;
  text-decoration: none;
  outline: none;
  &:hover {
    color: $grey_dark;
  }
}

p + p {
  margin-top: 1rem;
}
