@import 'vars';

$colors: (
	'black': $black,
  'white': $white,
  'blue': $blue,
  'green': $green,
  'green_pale': $green_pale,
  'grey_dark': $grey_dark,
  'grey': $grey,
  'grey_light': $grey_light,
  'grey_warm': $grey_warm,
  'grey_cool': $grey_cool,
  'greyish': $greyish,
  'greyish_darker': $greyish_darker,
  'orange': $orange,
  'pale_mauve': $pale_mauve,
  'purple': $purple,
  'purple_bright': $purple_bright,
  'purple_pale': $purple_pale,
  'ultramarine': $ultramarine,
  'violet_dark': $violet_dark,
  'red': $red,
  'transparent': transparent
);

/* generate helper classes */

@each $name, $hex in $colors {
	.color-#{$name} {
		color: #{$hex}
	}
	.bg-#{$name} {
		background-color: #{$hex}
	}
}

.bg-none {
  background: none;
}
