@mixin ico($content, $size) {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?lp7t76') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?lp7t76') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?lp7t76##{$icomoon-font-family}') format('svg');
  font-size: $size;
  font-weight: normal;
  font-style: normal;
  content: $content;
}
