@import 'theme';

.mr-page {
  display: flex;
  min-height: 100vh;

  &-inner {

    &.-bg-main {
      min-height: 244px;
      background: url('/static/images/main-pic@3x.png') no-repeat right 0;
      background-size: 378px 244px;

      @media all and (max-width: $md - 1px) {
        background: none;
      }

      .mr-page-header {
        padding-right: 20rem;

        @media all and (max-width: $lg - 1px) {
          padding-right: 15rem;
        }

        @media all and (max-width: $md - 1px) {
          padding-right: 0;
        }
      }
    }
  }

  &-header {
    margin-top: 7 * $pd;
    margin-bottom: 4 * $pd;
    align-items: center;
    flex-wrap: nowrap;

    &-votes {
      flex-shrink: 0;
    }

    @media all and (max-width: $md - 1px) {
      margin-top: 3 * $pd;
      margin-bottom: 1.5 * $pd;
    }
  }

  &-title {
    @extend .color-grey_dark;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0;

    @media all and (max-width: $md - 1px) {
      font-size: 1.2rem;
    }
  }

  &-description {
    @extend .color-grey_dark;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: .02em;
  }

  &-statistic {
    @include vp-flexbox;
    align-items: center;
    justify-content: end;
    font-size: .9rem;
    flex-wrap: nowrap;

    &-item {
      a {
        text-transform: uppercase;
        white-space: nowrap;
      }

      &:not(:first-child) {
        padding-left: 4 * $pd;
      }
    }
  }

  &-content {
    margin-top: 4 * $pd;
    margin-bottom: 2 * $pd;
    font-size: 1rem;
    line-height: 1.5;

    h1 {
      margin-top: 1rem;
      margin-bottom: .5rem;
      font-size: 1.8rem;
    }

    h2 {
      margin-top: .9rem;
      margin-bottom: .4rem;
      font-size: 1.6rem;
    }

    h3 {
      margin-top: .6rem;
      margin-bottom: .25rem;
      font-size: 1.4rem;
    }

    p {
      &:not(:first-child) {
        padding-top: $pd / 2;
      }

      &:not(:last-child) {
        padding-bottom: $pd / 2;
      }
    }

    ul,
    ol {
      padding-top: $pd / 2;
      padding-bottom: $pd / 2;
      padding-left: $pd * 2;
      list-style-position: inside;
    }

    ul {
      list-style-type: none;

      li {
        padding-left: $pd * 2;
        position: relative;

        &:before {
          @extend .bg-purple;
          display: block;
          width: $pd * .75;
          height: $pd * .75;
          content: '';
          border-radius: 50%;
          position: absolute;
          top: $pd;
          left: 0;
        }
      }
    }

    a {
      @extend .color-purple;

      &:hover {
        @extend .color-violet_dark;
      }
    }

    &.-center {
      text-align: center;
    }
  }

}
