// Colors
$black: #000;
$white: #fff;
$blue: #00b7f4;
$green: #3fc658;
$green_pale: #d3f1d6;
$green_dark: #27AE60;
$grey_dark: #353535;
$grey: #ebebeb;
$grey_light: #f5f5f5;
$grey_warm: #a1a1a1;
$grey_cool: #929aa3;
$greyish: #b7b7b7;
$greyish_darker: #acacac;
$orange: #f68e56;
$pale_mauve: #fdf5ff;
$purple: #c90cff;
$purple_bright: #c807ff;
$purple_pale: #f0d4f7;
$ultramarine: #1000ae;
$violet_dark: #320047;
$red: #ea321f;

// Fonts
$font_family: Roboto, Arial, Helvetica, sans-serif;

// Sizes
$sm: 320px;
$md: 760px;
$lg: 1200px;

// Borders and shadows
$border_grey: 1px solid $grey_dark;
$border_radius: 8px;
$border_radius_sm: $border_radius / 2;
$box_shadow: 0 5px 14px 1.1px transparentize($grey_cool, .75);
$box_shadow_hover: 0 5px 14px 1.1px transparentize($purple_bright, .75);
