@import '../basic/theme';
@import '../../../node_modules/flexboxgrid-sass/flexboxgrid.scss';

$breakpoints:
  xs 28em 36rem,
  sm 48em 46rem,
  md 62em 61rem,
  lg 75em 71rem !default;
$flexboxgrid-max-width: 1200px !default;

$pd: $half-gutter-width;

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-between;
  width: 100%;
  min-width: $sm;
  padding-right: 3rem;
  padding-left: 3rem;

  &-inner {
    flex-grow: 2;
  }

  @media all and (max-width: $md - 1px) {
    padding-right: $pd;
    padding-left: $pd;
  }
}

.col {
  padding-right: $pd;
  padding-left: $pd;
  overflow: hidden;
}

.box {
  padding: $pd;
}
