.mr-checkbox {
  cursor: pointer;

  &-input {
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;

    + .mr-checkbox-label {
      display: block;
      padding-left: 1.7rem;
      position: relative;
      font-size: .9rem;
      line-height: 1.3rem;

      &:before {
        content: '';
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.3rem;
        height: 1.3rem;
        background: $white;
        border: 1px solid $greyish;
        border-radius: .3rem;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &:checked {
      + .mr-checkbox-label {
        &:before {
          @include ico($ico-Tick, .7rem);
          background: $purple;
          border: 1px solid $purple;
          color: $white;
        }
      }
    }
  }

}
