.mr-form-control {
  display: block;
  width: 100%;
  padding: .5rem .6rem;
  border: 1px solid $greyish;
  border-radius: $border_radius_sm;
  color: $black;
  font-size: .9rem;

  &:focus {
    border-color: $purple_bright;
    outline: none;
  }

}

textarea.mr-form-control {
  min-height: 40px;
  max-height: 250px;
  resize: vertical;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $white inset;
  transition: background-color 5000s ease-in-out 0s;
}
