.mr-form-label {
  padding-bottom: .5rem;
  font-size: .9rem;
  color: $black;

  &-required {
    padding-left: $pd / 2;
    color: $red;
    font-weight: 700;
  }
}

label.mr-form-label {
  cursor: pointer;
}
