.mr-radio {
  display: block;
  padding: 4px;

  &-label {
    display: block;
    width: 100%;
    height: 100%;
    padding: {
      top: $pd / 2;
      right: 2 * $pd;
      bottom: $pd / 2;
      left: 2 * $pd;
    }
    color: $black;
    cursor: pointer;
    border: 1px solid $greyish;
    border-radius: $border_radius_sm;
    font-size: .9rem;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      color: $white;
      background: $greyish;
    }

  }

  &-input {
    display: none;

    &:checked {
      + .mr-radio-label {
        cursor: default;

        &.-category {
          background: $purple_pale;
          border-color: $purple_pale;
          color: $black;
        }

        &.-subcategory {
          background: $green_pale;
          border-color: $green_pale;
          color: $black;
        }
      }
    }
  }

  &-group {
    margin-right: -4px;
    margin-left: -4px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

}
